.container {
    border-radius: 50px;
    border: 1px solid aquamarine;
    padding: 2px;
    display: flex;
    position: relative;
    align-items: center;
}
.ball {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: aquamarine;
    position: absolute;
    cursor: pointer;
    transition: all 1s ease-in-out;
}