.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.image {
  width: 100%;
  height: fit-content;
  animation: move 3s infinite ease alternate;
}
@keyframes move {
  from {
    transform : translateY(-10px);
  }
  to {
    transform: translateY(20px) scale(1.04);
  }
}
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
}
.item h1 {
  font-size: 70px;
  background: linear-gradient(aquamarine, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item p {
  font-size: 25px;
}
.button {
  background-color: aquamarine;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}