.posts {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.post {
    display: flex;
    gap: 50px;
    align-items: center;
}
.infoPost {
    display: flex;
    gap: 35px;
    flex-direction: column;
}